<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs') %>
    <div class="detail-bg">
        <h4><%= result.title%></h4>
        <p><%= result.content%></p>
        <img src="<%=result.localtion%>">
        <a href="/chat/request?writerId=<%=result.user%>"> 채팅햐 </a>
        <hr style="margin-top: 60px">
        <% for(let i = 0; i < commentResult.length; i++){ %>
        <div>
          <p><strong><%=commentResult[i].writer%></strong> <%=commentResult[i].content%></p>
        </div>
        <% } %>
        <form action="/comment" method="POST">
          <input name="content">
          <input name="parentId" value="<%= result._id %>" style="display: none">
          <button type="submit">댓글작성</button>
        </form>
        
    </div> 
    </div>
  </body>
</html>
